:root{
  /* Note background */
  --dark: #272727;
  --red: #572727;
  --green: #274727;
  --blue: #272747;

  /* Note hover */
  --dark-hover: #3a3a3a;
  --red-hover: #6a3a3a;
  --green-hover: #3a5a3a;
  --blue-hover: #3a3a5a;
}


body{
  margin: 0;
  background-color: #070717;
}

header{
  width: 100%;
  padding: .5rem 0 .5rem .5rem;
  position: fixed;
  background-color: #606c96;
  z-index: 100;
}

h1{
  margin: 0;
  color: #ffffff;
}

section{
  display: flex;
  justify-content: center;
}

.items{
  width: 90%;
  padding: 7rem 0 3.5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 2rem 1.5rem;
  justify-content: center;
}

.items-note, .items-contains{
  max-height: 220px;
  overflow: hidden;
  font-size: 14px;
  font-family: sans-serif;
}

.add-note{
  height: 251.98px;
  border: none;
  outline: none;
  background-color: #11162c;
  font-size: 150px;
}

.add-note:hover{
  background-color: #181d30;
}

.items-note, .items-contains, .add-note{
  min-height: 220px;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  color: #ffffff;
}

.items-note{
  position: absolute;
  min-width: 168.01px;
  background-color: #ffffff00 !important;
}

.items-note:hover, .add-note:hover{
  box-shadow: 7px 7px 7px #010414;
}

.items-bottom{
  width: 200px;
  height: 20px;
  margin: 216px 0 0 -16px;
  border-radius: 0 0 1rem 1rem;
  position: absolute;
}

.note-title{
  margin: .5rem 0 .8rem 0;
}

.items-task{
  width: 98%;
  margin: .1rem 0;
  padding: .1rem .5rem .1rem 0;
  display: flex;
  align-items: center;
  background-color: transparent !important;
}

.items-checkbox{
  min-width: 14px;
  height: 14px;
  margin-right: .5rem;
  border: 1px solid #ffffff;
  border-radius: .1rem;
  background-color: transparent;
  appearance: none;
}

.items-task p{
  width: 140px;
  margin: .2rem;
}


/* Modals */
.container{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #3e434d69;
  display: none;
}

#noteForm{
  width: 100%;
  height: 99%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

#noteTitle{
  width: 560px;
  padding: .8rem 1rem .3rem 1rem;
  border-radius: 1rem 1rem 0 0;
  font-size: 24px;
}

#noteContent, #noteTask{
  width: 560px;
  min-height: 448px;
  padding: .4rem 1rem .5rem 1rem;
  font-size: 16px;
}

#noteContent{
  resize: none;
  display: flex;
}

#noteTask{
  display: none;
  flex-direction: column;
}

.task{
  width: 95%;
  margin: .1rem 0;
  padding: .1rem .8rem;
  display: flex;
  align-items: center;
  /* background-color: var(--blue-hover) !important; */
}

.taskContent{
  flex-direction: column;
}

.task-checkbox{
  min-width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: .1rem;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.task-checkbox:hover, #newTask:hover, .task-delete:hover{
  background-color: #ffffff27;
  cursor: pointer;
}

.task-checkbox:checked, .items-checkbox:checked{
  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' class='bi bi-check' viewBox='0 0 16 16'><path d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/></svg>") no-repeat center;
}

.task-content, #lblNewTask{
  width: 100%;
  margin: 0 .3rem;
  padding: .5rem .8rem;
}

.task-content:focus{
  border: none;
  border-bottom: 1px solid #5f5f5f;
  outline: none;
}

#newTask{ margin-left: 1.15rem; }

#newTask, .task-delete{
  padding: .2rem;
  border-radius: .2rem;
}

#lblNewTask{
  color: #757575;
  cursor: text;
}

#noteTitle, #noteContent, #noteTask, .cont-options{
  border: 1px solid #5f5f5f;
}

#noteContent, #noteTask, .cont-options{
  border-top: none;
}

#noteTitle:focus, #noteContent:focus{
  border: 1px solid #5f5f5f;
}

#noteTitle, #noteContent, #noteTask{
  border-bottom: 3px solid #2f2f2f;
}

#noteTitle:focus, #noteContent:focus, #noteTask:focus{
  outline: none;
  border-bottom: 3px solid #2f2f2f;
}

.cont-options, .options{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cont-options{
  width: 560px;
  padding: .2rem 1rem;
  border-radius: 0 0 1rem 1rem;
}

.options{
  width: 90%;
}

#bgColor{
  margin-left: .8rem;
  color: #ffffff;
  cursor: pointer;
}

#list-color{
  margin: 0 1rem;
  padding: 0;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.color{
  width: 20px;
  height: 20px;
  margin: 0 .2rem 0 0;
  border: #ffffff solid 1px;
  border-radius: 50%;
  cursor: pointer;
}

#dark{ background-color: var(--dark) }

/* #light{ background-color: #c7c7c7; } */

#red{ background-color: var(--red) }

#green{ background-color: var(--green) }

#blue{ background-color: var(--blue) }

.btn-opt{
  padding: .6rem;
  border-radius: .3rem;
  color: #ffffff;
  cursor: pointer;
}

.btn-opt:hover{
  background-color: #3f3f3f;
}

.options i{
  font-size: 18px;
}

#chgTask{
  margin: 0 2.5rem 0 1rem;
}

#close{
  border: none;
  font-size: 16px;
}

.note{
  font-family: sans-serif;
  color: #ffffff;
}

.oculto{
  display: none;
}

.visible{
  display: flex;
}


/* Media querry */
@media screen and (max-width: 600px) {
  .items{
    width: 98%;
    grid-template-columns: repeat(auto-fill, 175px);
    gap: 1rem 1rem;
  }

  .items-note{ min-width: 142px; }

  .items-bottom{ width: 175px; }

  .container{ z-index: 100; }

  #noteTitle, #noteTask, #noteContent, .cont-options{ width: 90%; }

  #noteTask, #noteContent{ min-height: 83.5%; }

  #bgColor{ margin-left: -0.7rem; }

  #chgTask{ margin: 0 2rem 0 .5rem; }
}


/* Backgrounds */
  /* Dark */
  .dark .note{
    font-family: sans-serif;
    color: #ffffff;
    background-color: var(--dark);
  }

  .dark div, .dark .btn-opt{
    background-color: var(--dark);
  }

  .dark .items-note:hover, .dark .task-content:hover, .dark .btn-opt:hover,.dark #lblNewTask:hover, .dark .selected{
    background-color: var(--dark-hover);
  }

  /* Red */
  .red .note{
    font-family: sans-serif;
    color: #ffffff;
    background-color: var(--red);
  }

  .red div, .red .btn-opt{
    background-color: var(--red);
  }

  .red .items-note:hover, .red .task-content:hover, .red .btn-opt:hover,.red #lblNewTask:hover, .red .selected{
    background-color: var(--red-hover);
  }

  /* Green */
  .green .note{
    font-family: sans-serif;
    color: #ffffff;
    background-color: var(--green);
  }

  .green div, .green .btn-opt{
    background-color: var(--gren);
  }

  .green .items-note:hover, .green .task-content:hover, .green .btn-opt:hover,.green #lblNewTask:hover, .green .selected{
    background-color: var(--green-hover);
  }

  /* Blue */
  .blue .note{
    font-family: sans-serif;
    color: #ffffff;
    background-color: var(--blue);
  }

  .blue div, .blue .btn-opt{
    background-color: var(--blue);
  }

  .blue .items-note:hover, .blue .task-content:hover, .blue .btn-opt:hover,.blue #lblNewTask:hover, .blue .selected{
    background-color: var(--blue-hover);
  }
