    <div class="container">
      <form id="noteForm" action="/" method="post">
      <!--<items-noteContent>-->
        <input type="text" name="title" id="noteTitle" class="note" placeholder="Title">
        <textarea name="content" id="noteContent" class="note" placeholder="Add a note."></textarea>
        
        <div id="noteTask" class="note">
          <div class="task taskContent"></div>
          <div class="task taskBtn">
            <i id="newTask" class="bi bi-plus-lg"></i>
            <label id="lblNewTask" for="newTask">Add task</label>
          </div>
        </div>

        <input type="hidden" name="type" id="noteType">
        <input type="hidden" name="color" id="noteColor">
        <input type="hidden" id="noteId">
        <div class="cont-options note">
          <div class="options">
            <i id="bgColor" class="btn-opt bi bi-palette"></i>
            <ul id="list-color" style="display: none;">
              <li id="dark" class="color"></li>
              <!-- <li id="light" class="color"></li> -->
              <li id="red" class="color"></li>
              <li id="green" class="color"></li>
              <li id="blue" class="color"></li>
            </ul>
            <i id="chgTask" class="btn-opt bi bi-check-square"></i>
            <i id="delete" class="btn-opt bi bi-trash3"></i>
          </div>
          <button id="close" class="btn-opt">Close</button>
        </div>
      </form>
    </div>